<div id="a">

    <div class="card card-center a" id="a1">

        <div class="col-md-12">
            <div class="well">Busy in other works??</div>
        </div>

    </div>

    <div class="card card-center a" id="a2" >
        <div class="col-md-12">
        Now, Make Appointments without saying a word
            </div>
    </div>

    <div class="card card-center a" id="a3">
        <div class="col-md-12">
       Book your Appointment online
            </div>

    </div>

    <div id="quote">"Take care of your body it's the only place you have to live in."</div>


        <div class="card card-center a" id="a4">
            <div class="col-md-12">
            <a ui-sref="displayAllDoctor">Appointment</a>
            </div>
        </div>


        <img id="cursor" src="../../image/c.png" class="animated shake infinite">


</div>


<div id="d">
    <div id="dtitle">Our Services</div>

        <div class="row" id="fbox">
            <!-- Boxes de Acoes -->
            <div class="col-xs-12 col-sm-12 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-desktop"></i></div>
                        <div class="info">
                            <h3 class="title">Book Online</h3>
                            <p>
                                Technology have brought us to a time where customers expect immediate results.
                            </p>
                            <div class="more">
                                <a href="#" title="Title Link">
                                    Read More <i class="fa fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-calendar"></i></div>
                        <div class="info">
                            <h3 class="title">Select Appointment</h3>
                            <p>
                                Offer your patients time-slot options when scheduling the Appointment.
                            </p>
                            <div class="more">
                                <a href="#" title="Title Link">
                                    Read More <i class="fa fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-envelope-open-o"></i></div>
                        <div class="info">
                            <h3 class="title">Get Notification</h3>
                            <p>
                                If the Appointment was made in person, give your patient a reminder card.
                            </p>
                            <div class="more">
                                <a href="#" title="Title Link">
                                    Read More <i class="fa fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
            <!-- /Boxes de Acoes -->
        </div>



</div>


<div id="b">
    <span id="maptitle">Where are we?</span>

    <ng-map zoom="17" center="swayambhu Marg" id="map" scrollwheel="false">

        <marker position="chamati" title="Itglance"></marker>
    </ng-map>

</div>
<!--<div id="c" class="align-baseline">-->
    <!--<div class="card card-center a animated slideInRight" >-->
        <!--<input type="text" >-->
        <!--<input type="text" >-->
        <!--<input type="text" >-->
        <!--<input type="text" >-->
        <!--<input type="text" >-->
    <!--</div>-->
<!--</div>-->