<div class="row">
    <div class="offset-5 col-md-4  card card-outline-info text-xs-center" >
        <h1 class="text-center">Billing</h1>
        <hr>
        <form ng-submit="vm.insert()">

            <div class="md-form">
                <label for="name">Specialist Name:</label>
                <input type="text" class="form-control" id="name" ng-model="vm.specialist.specialistName">
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>