<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-12 col-sm-offset-2 col-md-offset-1 card card-center card-outline-info text-xs-center">
        <h1>Doctor Details</h1>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Id</span></th>
                    <th><span>Name</span></th>
                    <th><span>Address</span></th>
                    <th><span>Contact</span></th>
                    <th><span>Email</span></th>
                    <th><span>Associated Hospital</span></th>
                    <th><span>Specialist</span></th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="doctor in vm.doctors">
                    <td>{{doctor.id}}</td>
                    <td>{{doctor.doctorName}}</td>
                    <td>{{doctor.doctorAddress}}</td>
                    <td>{{doctor.doctorContact}}</td>
                    <td>{{doctor.doctorEmail}}</td>
                    <td>{{doctor.hospitalsAssociated}}</td>
                    <td>{{doctor.specialistBySpecialistId.specialistName}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="displayDoctor.edit({id:doctor.id})"
                                    class="btn btn-primary btn-sm">Edit
                            </button>

                            <button type="submit"
                                    ui-sref="displayDoctor.delete({id:doctor.id})"
                                    class="btn btn-danger btn-sm">Delete
                            </button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>