<div class="row card card-center">

    <div class="row times">

        <div class="col-xs-2 text-center" ng-show="checkday">

            <h1 class="text-center">Sun</h1>
            <hr>
            <div class="time-slot">
                <input type="checkbox" id="sunday-time">
                <label for="sunday-time">9:00am</label>
            </div>
        </div>

        <div class="col-xs-2 text-center" ng-show="checkday">

            <h1 class="text-center">Mon</h1>
            <hr>
            <div class="time-slot">
                <input type="checkbox" id="monday-time">
                <label for="monday-time">9:00am</label>
            </div>
        </div>
        <div class="col-xs-2 text-center" ng-show="checkday">

            <h1 class="text-center">Tue</h1>
            <hr>
            <div class="time-slot">
                <input type="checkbox" id="tuesday-time">
                <label for="tuesday-time">9:00am</label>
            </div>
        </div>

        <div class="col-xs-2 text-center" ng-show="checkday">

            <h1 class="text-center">Wed</h1>
            <hr>
            <div class="time-slot">
                <input type="checkbox" id="wednesday-time">
                <label for="wednesday-time">9:00am</label>
            </div>
        </div>
        <div class="col-xs-2 text-center" ng-show="checkday">

            <h1 class="text-center">Thu</h1>
            <hr>
            <div class="time-slot">
                <input type="checkbox" id="thursday-time">
                <label for="thursday-time">9:00am</label>
            </div>
        </div>
        <div class="col-xs-2 text-center" ng-show="checkday">

            <h1 class="text-center">Fri</h1>
            <hr>
            <div class="time-slot">
                <input type="checkbox" id="friday-time">
                <label for="friday-time">9:00am</label>
            </div>
        </div>
        <div class="col-xs-2 text-center" ng-show="checkday">

            <h1 class="text-center">Sat</h1>
            <hr>
            <div class="time-slot">
                <input type="checkbox" id="saturday-time">
                <label for="saturday-time">9:00am</label>
            </div>
        </div>


    </div>


</div>

</div>