<div class="row">
<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3 card card-center card-outline-info text-xs-center">
    <h1>Specialist</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>Specialist Id</span></th>
                <th><span>Specialist Name</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="specialist in vm.specialists">
                <td>{{specialist.id}}</td>
                <td>{{specialist.specialistName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="displaySpecialist.edit({id:specialist.id})"
                                class="btn btn-primary btn-sm">Edit
                        </button>

                        <button type="submit"
                                ui-sref="displaySpecialist.delete({id:specialist.id})"
                                class="btn btn-danger btn-sm">Delete
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
