<div class="row">
    <div id="card-center" class="col-xs-12 col-sm-8 col-md-10 col-sm-offset-2 col-md-offset-1 card card-center card-outline-info text-xs-center">
        <h1>Particular Details</h1>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span>Id</span></th>
                    <th><span>Name</span></th>
                    <th><span>Rate</span></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="particular in vm.particulars">
                    <td>{{particular.id}}</td>
                    <td>{{particular.particularName}}</td>
                    <td>{{particular.particularRate}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="displayParticular.edit({id:particular.id})"
                                    class="btn btn-primary btn-sm">Edit
                            </button>

                            <button type="submit"
                                    ui-sref="displayParticular.delete({id:particular.id})"
                                    class="btn btn-danger btn-sm">Delete
                            </button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>